.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.book-card {
  border-radius: 0.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
}

.book-card-header {
  padding: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.book-card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0.3rem 0;
  border-radius: .3rem;
}

.book-card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-card-body h4 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #393e4c;
}

.book-card-body p {
  color: #666;
}

.book-card-btns {
  position: absolute;
  top: -10px;
  right: 0;
}

@media (max-width: 768px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .books {
    grid-template-columns: 1fr;
  }
}
