<p-dialog
  header="Update Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
<form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
  <label for="username" class="block text-900 font-medium mb-2"
    >Username</label
  >

  <input
    id="username"
    type="text"
    placeholder="Title"
    pInputText
    autocomplete="off"
    class="w-full mb-3"
    formControlName="username"
  />

  <p-button
    type="submit"
    label="Update Profile"
    class="w-full"
    [loading]="submited"
  ></p-button>

  </form>

</p-dialog>

<p-toast position="bottom-right"></p-toast>
