@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  background: #EFF3F8;
}

.btn {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: .3rem;
  padding: .2rem .3rem;
  margin: 0 .2rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-warning {
  background: #f5a739;
  color: #EFF3F8;
}

.btn-danger {
  background: #f53d3d;
  color: #EFF3F8;
}
