<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="username" class="block text-900 font-medium mb-2">Username</label>
  <input
    id="username"
    type="text"
    placeholder="Username"
    pInputText
    autocomplete="off"
    class="w-full mb-3"
    formControlName="username"
  />

  <label for="email" class="block text-900 font-medium mb-2">Email</label>
  <input
    id="email"
    type="text"
    placeholder="Email address"
    pInputText
    autocomplete="off"
    class="w-full mb-3"
    formControlName="email"
  />

  <label for="password" class="block text-900 font-medium mb-2">Password</label>
  <input
    id="password"
    type="password"
    placeholder="Password"
    pInputText
    class="w-full mb-3"
    formControlName="password"
  />

  <button
    pButton
    pRipple
    label="Register"
    class="w-full"
    severity="primary"
    [loading]="submited"
  ></button>
</form>

<p-toast position="bottom-right"></p-toast>
